.main {
    display: flex;
    justify-content: center;

}

.main_wrapper {
    background: greenyellow;
    width: 60%;
    min-height: 600px;
    margin: 10%;
    border-radius: 20px;
    /*position: relative;*/


}

.main_wrapper_container {
    position: relative;

}

.wood img {
    width: 1%;
    /*margin: 20px 0 0 20px;*/
    position: absolute;
    top: 130px;
    left: 5%;
    z-index: 10;
}

.lake img {
    position: absolute;
    z-index: 9;
    width: 1%;
    top: 250px;
    left: 25%;
}

.fish{
    /*position: relative;*/
}

.fish img {
    position: absolute;
    z-index: 11;
    width: 10%;
    left: 70%;
    top: 420px;
    opacity: 0.7;
    animation-name: fish_go;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 2s ;
}

@keyframes fish_go {
    0% {
        left: 75%;
    }
    50%{
        width: 11%;
    }
    100% {
        left: 35%;
        /*transform-origin: bottom 100px;*/
        /*transform: rotate(360deg);*/
        /*transform: scale(-1, 1)*/
        /*transform:rotateY(180deg);*/
        transform-style: revert;
    }
}